run_tests
bulldozer
bulldozer_bench
bulldozer_cuda_bench

.idea
.*sw[a-z]
*.cmake
CMakeFiles
CMakeCache.txt
CMakeScripts
CMakeTmp
Makefile
cmake_install.cmake
compile_commands.json

cmake-build-debug
cmake-build-release
build

